/**
 * Colors
 */

$custom_color_green :           #86BE03;
$custom_color_green_hover :     #41A437;

$custom_color_blue:             #009FE3;

$custom_color_pink:             #E6007E;

$custom_color_title:            #5A5559;