<div ng-include="'components/header/header.html'" class="header-container"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <h2>Vos vidéos</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-repeat="column in liste_video.columns">{{column}}</th>
                    </tr>
                </thead>
                <tr ng-repeat="videos in liste_video.videos">
                    <td ng-repeat="field in videos">{{field}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
