<div ng-include="'components/header/header.html'" class="header-container"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container liste-video">
    <div class="row">
        <h2>Vos vidéos</h2>

        <p>Sed eu nisl dictum, euismod quam sit amet, varius enim. Suspendisse euismod mattis erat ac aliquam. Aenean rutrum nibh maximus dui viverra, sed vulputate dolor facilisis. Aliquam tincidunt neque eros, nec laoreet elit elementum nec. Nulla malesuada ligula metus, vitae mollis tortor rhoncus non. Aenean ac mattis leo. Pellentesque sed ornare eros. Aenean tempus leo eget justo varius semper. Proin non nibh libero. Etiam quis viverra leo, ut tempor nulla. Nulla facilisi. Duis gravida tortor libero, in egestas augue elementum sed. </p>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th ng-repeat="column in listeVideo.columns" style="{{column.style}}">
                            <a href="#" ng-click="order(column.field)" ng-show="column.sortable">{{column.label}}</a> {{(column.sortable) ? '' : column.label}} <span ng-show="!reverse && column.sortable" class="glyphicon glyphicon-triangle-top"></span><span ng-show="predicate == column.field && reverse && column.sortable" class="glyphicon glyphicon-triangle-bottom"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="video in listeVideo.videos| orderBy:predicate:reverse track by $index">
                        <td>{{$index + 1}}</td>
                        <td class="description">
                            <h4>{{video.title}}</h4>
                            <p>{{video.description}}</p>
                        </td>
                        <td><span class="glyphicon glyphicon-facetime-video" ng-show="video.usage == 'communication'" aria-label="{{video.usage}}" title="{{video.usage}}"></span><span class="glyphicon glyphicon-education" ng-show="video.usage == 'pedagogique'" aria-label="{{video.usage}}" title="{{video.usage}}"></span></td>
                        <td>{{video.filesize| Filesize}}</td>
                        <td>
                            <span class="glyphicon glyphicon-time red" ng-show="video.encoding_status != 'finished'" aria-label="Téléchargement en cours" title="Téléchargement en cours"></span>
                            <span class="glyphicon glyphicon-ok green" ng-show="video.encoding_status == 'finished'" aria-label="En ligne" title="En ligne"></span>
                        </td>
                        <td><button type="button" class="glyphicon glyphicon-eye-open" aria-label="Voir" title="Voir"></button> <button type="button" class="glyphicon glyphicon-edit" aria-label="Editer" title="Editer"> </button><button type="button" class="glyphicon glyphicon-trash" aria-label="Supprimer" title="Supprimer"></button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
