$ajouter_video_min_height: 500px;
$ajouter_video_grey_border: #D3D3D3;
$ajouter_video_file_over_color: red;

// Action column

.action-col {
    border-right: 1px solid $ajouter_video_grey_border;
    min-height: $ajouter_video_min_height;
    text-align: right;

    .btn-upload {
        display: inline-block;
    }
}

// Drag and drop

.drop-col {
    min-height: $ajouter_video_min_height;
}

.drag-and-drop {
    border: 3px dotted $ajouter_video_grey_border;
    height: $ajouter_video_min_height;
    line-height: $ajouter_video_min_height;
    margin: 10px 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    p {
        display: inline;
        line-height: normal;
        margin: 0;
        opacity: 0.5;
        user-select: none;
        vertical-align: middle;
    }
}

.nv-file-over {
    border-color: $ajouter_video_file_over_color;

    p {
        color: $ajouter_video_file_over_color;
        font-weight: bold;
    }
}

// Modal

.ajouter-video-form-modal {

}
