.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
.vagrant
.bowerrc
.csslintrc
.editorconfig
.jshintrc
.slugignore
.travis.yml
vagrant_setup_provision.sh~
*.sublime-workspace
*.sublime-project
