<div ng-include="'components/header/header.html'" class="header-container"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4 action-col">
            <!-- Selection de fichier -->
            <input type="file" nv-file-select uploader="uploader" id="upload" class="hidden" filters="fileType"/><br/>
            <div class="btn btn-default btn-lg btn-upload" role="button" ng-click="upload()">Ajouter</div>
            <!--<ul>
                <li ng-repeat="item in uploader.queue">
                    Nom: <span ng-bind="item.file.name"></span><br/>
                    <button ng-click="item.upload()">upload</button>
                </li>
            </ul>-->
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 drop-col">
            <!-- Drag and drop -->
            <div nv-file-drop nv-file-over uploader="uploader" class="well drag-and-drop" filters="fileType">
                <p>Déposez votre vidéo ici</p>
            </div>

            <!--<div ng-show="uploader.isUploading">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                </div>
            </div>-->
        </div>
    </div>
</div>