<div class="modal-header">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-star"></span> {{video.title}}
    </h4>
</div>
<div class="modal-body container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Informations générales</h3>
            <dl>
                <dt>Titre</dt>
                <dd>{{video.title}}</dd>
                <dt>Description</dt>
                <dd>{{video.description}}</dd>
                <dt>Durée</dt>
                <dd>{{video.duration}} secondes</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h3>Apercu</h3>
            <div ng-bind-html="videoPreview"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Liens</h3>
            <dl>
                <dt>Embed</dt>
                <dd>
                    <pre select-text>{{video.widgets.widget._}}</pre>
                </dd>
                <dt>Flavors</dt>
                <dd class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th ng-repeat="flavor in video.flavors">
                                    {{flavor.$.name}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-repeat="flavor in video.flavors">
                                    <code select-text>{{flavor._}}</code>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Détails</h3>
            <dl>
                <dt>Format</dt>
                <dd>mp4</dd>
                <dt>Usage</dt>
                <dd>{{video.usage}}</dd>
                <dt>Droits d'usage</dt>
                <dd>{{video.usagerights}}</dd>
            </dl>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Fermer</button>
</div>
